# Ignore disk images
*.img
*.iso
*.bin

# Ignore user-specific key
eid_root_key

# Ignore PhotoRec recovery dirs
recup_dir*/

# System/editor files
*.swp
*.tmp
.DS_Store
Thumbs.db

# Build files and binaries
*.o
*.out
*.exe
*.elf
*.so

# Logs
*.log
